<div class="page-header">
  <h1>Изменить данные контрагента</h1>
</div>

<%= render 'form', contractor: @contractor %>

<%= link_to 'К контрагенту', @contractor %> |
<%= link_to 'К списку контрагентов', contractors_path %>
