<nav class="col-md-2 sidebar" role="navigation">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><span class="badge pull-right">42</span>Лента</a></li>
    <li><a href="#"><span class="badge pull-right">42</span>Мои статьи</a></li>
    <li><a href="#"><span class="label label-primary label-as-badge pull-right">42</span>Избранные материалы</a></li>
  </ul>
</nav>
