<nav class="navbar navbar-default sidebar" role="navigation">


  <ul class="nav nav-pills nav-stacked">
    <li><a href="#"><span class="badge pull-right">42</span>Лента</a></li>
    <li><a href="#"><span class="badge pull-right">42</span>Мои статьи</a></li>
    <li><a href="#"><span class="badge pull-right">42</span>Избранные материалы</a></li>
  </ul>
  &nbsp;
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#"><span class="badge badge-pill badge-primary pull-right">42</span>Сообщения</a></li>
    <li><a href="#"><span class="label label-primary label-as-badge pull-right">42</span>Сообщения</a></li>
    <li><a href="#"><span class="badge pull-right">42</span>Подписчикии</a></li>
  </ul>
  &nbsp;
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/categories"><span class="badge pull-right">32</span>Все категории</a></li>
  </ul>
</nav>
