<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Expenses</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Настройки профиля</a></li>
              <li><a href="#">Редактирование профиля</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
      <% else %>
          <li><%= link_to 'Войти', new_user_session_path %></li>
          <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
